

.body_Contact {
  padding-top: 100px;
  width: 100%;
}

.image_page_Contact {
  display: block;
  width: 80%;
  margin-left: 5%;
}

footer {
  display: block;
  padding-bottom: 1px;
  background-color: #b3b3b3;
}

.fa_footer {
  padding: 15 15px;
  font-size: 35px;
}

.pied_page {
  text-align: center;
  background-color: #2d5d26;
  padding-top: 15px;
  padding-bottom: 15px;
}

.fa_icon_footer {
  color: black;
}
