@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
font-family: 'Roboto', sans-serif;
}

.body_Contact {
  padding-top: 100px;
}

.image_page_Contact {
  display: block;
  margin-right: 100px;
}

footer {
  display: block;
  margin-bottom: 50px;
}

.fa_footer {
  padding: 15 15px;
  font-size: 35px;
}

.pied_page {
  text-align: center;
}

.fa_icon_footer {
  color: black;
}
